<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="LocalMySQL" connectionString="Server=localhost;Port=3306;Database=ventaprenda;Uid=VentaPrenda;Pwd=******"/>
        <add name="LocalMySQLBackup" connectionString="Server=localhost;Port=3306;Database=VentaPrenda;Uid=root;Pwd=******"/>
    </connectionStrings>
    <appSettings>
        <add key="MySqlDumpUtilityPath" value="C:\Program Files\MySQL\MySQL Server 8.0\bin" />
    </appSettings>
</configuration>
